* {
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.header-ld {
    width: 100%;
    height: 80px;
    background-color: #072146;
    color: #ffffff;
    padding: 10px 0;
    box-shadow: 1px 1px 9px -3px rgba(0,0,0,1);
-webkit-box-shadow: 1px 1px 9px -3px rgba(0,0,0,1);
-moz-box-shadow: 1px 1px 9px -3px rgba(0,0,0,1);
position: fixed;
z-index: 9;
}
.nav-ld-bebes {
    display: flex;  
    align-items: center; 
    height: 100%; 
}
.nav-ld-bebes .nav-logo {
    width: 180px;
}
.nav-ld-bebes .nav-categorias {
    width: 100%;
}
.nav-ld-bebes .nav-categorias ul {
    display: flex;
    justify-content: space-between;
}
.nav-ld-bebes .nav-categorias ul li {
    list-style: none;
    text-align: center;
    font-size: 0.9rem;
}
.nav-logo img {
    width: 70%;
}
.container-ld {
    margin: auto;
    height: 100%;
}
.content-moment{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.banner-moment img {
    width: 100%;
}
.content-sec{
    display: flex;
    justify-content: space-around;
}
.content-brands{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.brands{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.item-brand{
    flex: 0 0 20%;
    text-align: center;
}
.item-brand img{
    width: 70%;
}
.banner-ld-bebes .item-banner{
    max-width: 2120px;
    width: 100%;
    margin: auto;
}
.sect-banner{
    padding-top:80px ;
}
.banner-sec{
   background-color: #F4F4F4; 
   padding: 80px 0;
}
.item-banner-sec {
    width: 50%;
    text-align: center;
    margin: 10px;
}
.item-banner-sec img{
    width: 90%;
    margin: auto;
}
.services {
    display: flex;
}
.column-services {
    width: 15%;
    background-color: #1464a5;
    color: #ffffff;
    margin: 10px;
}
.logo-service img{
   width: 80px;
}
.btn-conoce{
    color: #ffffff;
    text-decoration: none;
    background-size: 210% 100%;
    background-position: 99% center;
    background-repeat: no-repeat;
    -webkit-transition: background-position .66667s cubic-bezier(.24,.22,.31,1.07);
    transition: background-position .66667s cubic-bezier(.24,.22,.31,1.07);
    background-color: #028484;
    background-image: linear-gradient(
    100deg
    ,#2dcccd 50%,#028484 50%);
    border-radius: 1px;
    min-width: 76px;
    width: 70%;
    padding: 10px 25px;
}
.btn-conoce:hover{
    color: #ffffff;
    text-decoration: none;
}
.p-32{
    padding: 32px;
}
.p-20{
    padding: 20px;
}
.fs-20{
    font-size: 20px;
}
.bb-1{
    border-bottom: 1px solid #072146;
}
.sect-services{
    background-color: #004481;
    padding: 80px;
}
iframe{
    border: none;
    visibility: visible;
    width: 220px;
    height: 35px;
    padding: 5px;
    background-color: #4A66B5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-blue{
    background-color: #072146;
    color: #ffffff;
}
.productos{
    padding-top: 80px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 576px){
    .container-ld {
        max-width: 540px;
    }
}

@media (min-width: 768px){
    .container-ld {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container-ld {
        max-width: 960px;
    }
    .nav-ld-bebes .nav-categorias ul {
        padding-left: 20px;
    }
}
@media (min-width: 1100px) {
    .container-ld {
        min-width: 980px;
        max-width: 1050px;
    }
    .nav-ld-bebes .nav-categorias ul li {
        padding: 0 12px;
    }
}
@media (min-width: 1550px){
    .container-ld {
        min-width: 960px;
        max-width: 1440px;
    }
    .nav-ld-bebes .nav-categorias ul li {
        padding: 0 38px;
    }
}
@media (max-width: 550px){
    .content-sec{
        display: flex;
        flex-direction: column;
    }
    .item-banner-sec img{
        width: 100%;
    }
}
